.card {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include transition-ease(transform);

    //          PSEUDO CLASSES      //

    &:hover {
        transform: scale(1.02);
    }

    //          ELEMENTS            //

    &__img {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        height: 200px;
        margin-bottom: 15px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__title {
        margin: 0 0 15px 10px;
        
        //          ELEMENTS            //

        & span {
            font-weight: setFontWeight(normal-weight);
            font-size: setFontSize(md-x1-size);
        }
    }

    &__details {
        display: flex;
        padding: 0 10px;
        margin-bottom: 15px;
        overflow: hidden;

        font-size: setFontSize(nm-x1-size);
        line-height: setLineHeight(double-x1-height);

        //          ELEMENTS            //

        &-labels, &-texts {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-labels {
            margin-right: 10px;
            font-weight: setFontWeight(medium-weight);
        }
    }

    &__description {
        height: clamp(100px, 100px, 100px);
        padding: 0 10px;
        margin-bottom: 15px;
        overflow-x: hidden;
        
        //          ELEMENTS            //

        &-text {
            margin: 0;
            font-size: setFontSize(nm-x1-size);
        }
    }

    &__button {
        min-width: 125px;
        width: 125px;
        max-width: 125px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}