.logo {
    background-image: url(/assets/logo/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    //          MODIFIERS            //

    &--small {
        width: clamp(160px, 160px, 160px);
        height: clamp(160px, 160px, 160px);
    }

    &--medium {
        width: clamp(242.70px, 242.70px, 242.70px);
        height: clamp(242.70px, 242.70px, 242.70px);
    }

    &--large {
        width: clamp(392.68px, 392.68px, 392.68px);
        height: clamp(392.68px, 392.68px, 392.68px);
    }
}