.title {

    //           ELEMENT           //

    &__text {
        font-weight: setFontWeight(black-weight);
        font-size: setFontSize(l-x2-size);
        line-height: setLineHeight(triple-x2-height);

        //          MODIFIERS           //

        &--dark {
            color: setColor(dark-color);
        }

        &--light {
            color: setColor(light-color);
        }
    }
}