* {
    box-sizing: border-box;
}

body {
    width: clamp(1680px, 1680px, 1680px);

    background-color: setColor(light-color);
    color: setColor(dark-color);
}

a {
    text-decoration: none;
}

input {

    // ||           pseudo-classes          //

    &:focus {
        outline: 0;
    }
}

select {
    appearance: none;
    border-radius: 0;
}

input[type="number"] {

    // ||           pseudo-elements         //

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

