* {
    box-sizing: border-box;
}

body {
    width: clamp(1680px, 1680px, 1680px);

    background-color: setColor(light-color);
    color: setColor(dark-color);
}

a {
    text-decoration: none;
}

