.booking-info {

    //              CHILDREN

    & p, & span {
        font-size: setFontSize(nm-x1-size);
        line-height: setLineHeight(mono-x1-height);
        margin-bottom: 0px;
    }

    //              ELEMENTS

    &__home-button {
        width: 190px;
        margin-top: 30px;
        text-align: center;

        & i {
            margin-right: 10px;
        }
    }

    &__title span {
        font-size: setFontSize(nm-x2-size);
    }
}