.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(100%, 100%, 100%);
    height: clamp(120px, 120px, 120px);
    padding: 0 40px;
    overflow: hidden;

    background-color: setColor(dark-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    //          COMPONETS           //

    &__title {
        color: setColor(light-color);
    }
}
