//          FLEX            //

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//          TRANSITION            //

@mixin transition-ease($property) {
    transition: $property 0.3s ease;
}