/*                              COLORS                   */

$colors: (
    "light": rgba(245, 245, 245, 1),
    "dark": rgba(67, 66, 78, 1),
    "blue": rgba(17, 75, 235, 1)
);

/*                              FONTS                   */

$font-weights: (
    "light": 300,
    "normal": 400,
    "medium": 500,
    "bold": 700,
    "black": 900
);

$font-sizes: (
    "small": 9.88px,
    "normal": 16px,
    "medium": 25.88px,
    "big": 41.88px
);

$line-heights: (
    "mono": 18px,
    "double": 29.12px,
    "triple": 47.11px
);