//                              COLORS                   //

$colors: (
    "light-color": rgba(255, 255, 255, 1),
    "dark-color": rgba(67, 66, 78, 1),
    "light-blue-color": rgba(0, 113, 255, 1),
    "dark-blue-color": rgba(17, 75, 235, 1)
);

//                              FONTS                   //

$font-weights: (
    "light-weight": 300,
    "normal-weight": 400,
    "medium-weight": 500,
    "bold-weight": 700,
    "black-weight": 900
);

$font-sizes: (
    "s-x1-size": 9.88px,
    "s-x2-size": 12.94px,
    "nm-x1-size": 14.47px,
    "nm-x2-size": 16px,
    "md-x1-size": 20.94px,
    "md-x2-size": 25.88px,
    "l-x1-size": 33.88px,
    "l-x2-size": 41.88px
);

$line-heights: (
    "mono-x1-height": 18px,
    "mono-x2-height": 23.56px,
    "double-x1-height": 29.12px,
    "double-x2-height": 38.11px,
    "triple-x1-height": 42.61px,
    "triple-x2-height": 47.11px
);